body {
  background-color: #272135;
}

h1 {
  text-align: center;
}

.box {
  border-radius: 16px;
  border-width: 2px;
  border-color: #FCFCFC;
  border-style: solid;
  background-color: #2C2C2C;
  color: #FCFCFC;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  padding: 32px;
  box-shadow: 2px 2px #0C0A11;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

